@model ADMTrial.Models.ProductList

@{
    ViewBag.Title = "List of Products";
}

<h2>Product list</h2>

<div class="sort-container">
    <p>Sort by:</p>
    <select id="sort-option">
        <option value=""></option>
        <option value="Price">Price</option>
        <option value="Popularity">Popularity</option>
    </select>

    <button data-sort="ASC" class="sort-btn">ASC</button>
    /
    <button data-sort="DESC" class="sort-btn">DESC</button>
</div>

<table id="products" class="table"></table>

<script>
    var models = @Html.Raw(Json.Encode(Model.ProductModels));
</script>
